*{box-sizing: border-box;}
.container{
    padding: 150px;px
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}
input[type=text]:fouce, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}
hr{
    border: 1px solid white;
    margin-bottom: 25px;
}
.registerbtn{
    background-color: red;
    color: white;
    padding: 16px 20px;
    
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover{
    opacity: 1;
}
a{
    color: rgb(212, 5, 5);
}
.signin{
    text-align: center;
}
h1,p{
    text-align: center;
    color: white;
}
html{
    background-image: url(background.jpg);
}
b{
    color: white;
}